html, body {
	font-family: Roboto, sans-serif;
}

h3 {
	text-transform:uppercase;
	color: #237dc8;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #a9a9a9;
}

::-moz-placeholder { /* Firefox 19+ */
	color: #a9a9a9;
}

:-ms-input-placeholder { /* IE 10+ */
	color: #a9a9a9;
}

:-moz-placeholder { /* Firefox 18- */
	color: #a9a9a9;
}

/*INDEX START*/

.main-nav {
	border-bottom: 1px solid #237dc8;
}

	.main-nav.small-height {
		border-bottom: 1px solid #237dc8;

	}

.service-item i.fa {
	font-size: 50px;
	margin-bottom: 15px;
	color: #237dc8;
}

.service-item:hover i.fa {
	color: #404040;
}

.copyright {
	font-size: 13px;
}

.main-nav .inner-nav.desktop-nav li {
	font-size: 14px;
	margin: 0 0px 0 20px;
}

.inner-nav.desktop-nav.switch-menu {
	width: 70%;
}

.main-nav .nav-logo-wrap.local-scroll {
	position: relative;
	top: 10px;
}

.splash-image-wrapper {
	width: 100%;
	height: 100%;
	margin-bottom: -140px;
}

	.splash-image-wrapper img#main-image {
		/*border-top: 1px solid #237dc8;
		border-bottom: 1px solid #237dc8;*/
		margin-bottom: -26%;
	}

	.splash-image-wrapper .promotion-wrapper {
		border: 10px solid #237dc8;
		height: 50%;
		width: 750px;
		margin: 20px auto;
		padding: 10px;
		position: relative;
		top: -100px;
		font-weight: 100;
		font-size: 16px;
		line-height: 25px;
	}

		.splash-image-wrapper .promotion-wrapper .promotion-container {
			background-color: #237dc8;
			color: white;
			padding: 10px;
			background: #237dc8 url("../img/index-main-blue-background.jpg") center center no-repeat;
		}

			.splash-image-wrapper .promotion-wrapper .promotion-container .lightbulb {
				border-right: 1px dashed white;
				text-align: center;
				vertical-align: middle;
			}

				.splash-image-wrapper .promotion-wrapper .promotion-container .lightbulb i {
					font-size: 100px;
				}

			.splash-image-wrapper .promotion-wrapper .promotion-container .promotion-text {
				padding: 15px 0 0 0px;
			}

			.splash-image-wrapper .promotion-wrapper .promotion-container a {
				padding: 15px 0 15px 0px;
				font-size: 20px;
				display: block;
				min-width: unset;
				width: 85%;
				margin: 20px auto;
			}

.we-offer-container {
	background: white;
	padding: 20px;
	display: flex;
	vertical-align: middle;
	border: 1px solid #e6e6e6;
	margin-bottom: 40px;
	height: 212px;
}

	.we-offer-container:hover {
		border-color: #237dc8;
	}

	.we-offer-container.big div {
		width: 65%;
		float: right;
		text-align: right;
	}

	.we-offer-container img {
		display: block;
		vertical-align: middle;
		float: left;
		margin: auto;
	}

	.we-offer-container.small {
		display: block;
		height: 255px;
	}

		.we-offer-container.small img {
			display: block;
			margin: 20px 43%;
		}

		.we-offer-container.small div {
			width: 100%;
			text-align: center;
		}

	.we-offer-container a {
		transform: scale(.85);
		position: absolute;
		right: 30px;
		bottom: 23px;
	}

		.we-offer-container a:hover {
			background-color: white !important;
		}

/*Index End*/


/* Napravi */

.make-item {
	margin-bottom:20px;
}

.make-item-content {
	position:absolute;
	top:0px;
	padding:30px 0 0 40px;
	color: white;
	height:100%;
}

.make-item-content h3 {
	text-transform: uppercase;
	color: white;
	font-size:1.3em;
}

.make-item-content p {
	width: 60%;
}

.make-item-content a {
	position:absolute;
	bottom:58px;
}

.owl-single-item {
	border: 4px solid #237dc8;
}

.guide-row {
	margin-bottom: 30px;
}

ul.leaders {
	padding: 0;
	list-style: none;
}

	ul.leaders {
		text-transform:uppercase;
	}

	ul.leaders li {
		padding: 0px 0 0 25px;
		margin-top:15px;
	}


ul.leaders {
	max-width: 80em;
	padding: 0;
	list-style: none;
	margin-top:50px;
}

	ul.leaders li:after {
		float: left;
		width: 0;
		white-space: nowrap;
		content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . ";
	}

	ul.leaders span:first-child {
		padding-right: 0.33em;
		background: white;
	}

	ul.leaders span + span {
		float: right;
		padding-left: 0.33em;
		background: white;
		position:relative;
		top:-10px;
	}

/* Napravi end */

/*Contact*/

.dropzone-container {
	width: 100%;
	height: 100%;
	background-color: #237dc8;
	text-align:center;
}

	.dropzone-container img, .dropzone-container a {
		line-height: 20px;
	}

.contact-form .cws-button.white {
	border: 1px solid white;
	margin: 30px 0px 30px 20%;
}

	.contact-form .cws-button.white:hover {
		background-color: white;
		color: #237dc8;
	}

.order-category {
	margin: -5px 0 45px 0px;
}

	.order-category img {
		outline: 1px solid #237dc8;
		outline-offset: -1px;
		margin: 5px 2px 0 0px;
		cursor:pointer;
	}

		.order-category img:hover {
			outline: 3px solid #237dc8;
			outline-offset: -3px;
		}

/*Contact End*/

/*Price page */

.price-page table.table tbody tr td:first-child, .price-page table.table thead tr th:first-child {
	text-align: left;
}

.price-page table.table tbody tr td:last-child, .price-page table.table thead tr th:last-child {
	text-align: right;
}

.price-page table.table tbody tr td a {
	color: #237dc8;
}

	.price-page table.table tbody tr td a:hover {
		text-decoration:underline;
	}

/*Price page end*/