html, body {
	font-family: Roboto, sans-serif;
}

/*INDEX START*/

.service-item i.fa {
	font-size: 50px;
	margin-bottom: 15px;
	color: #237dc8;
}

.service-item:hover i.fa {
	color: #404040;
}

.copyright {
	font-size: 13px;
}

.main-nav .inner-nav.desktop-nav li {
	font-size: 14px;
	margin: 0 0px 0 20px;
}

.inner-nav.desktop-nav.switch-menu {
	width: 70%;
}

.main-nav .nav-logo-wrap.local-scroll {
	position: relative;
	top: 10px;
}

.splash-image-wrapper {
	width: 100%;
	height: 100%;
	margin-bottom: -140px;
}

	.splash-image-wrapper img#main-image {
		border-top: 1px solid #237dc8;
		border-bottom: 1px solid #237dc8;
	}

	.splash-image-wrapper img#main-image-hand {
		position: absolute;
		margin-top: -8%;
		margin-left: -3%;
		z-index: 20;
	}

	.splash-image-wrapper .promotion-wrapper {
		border: 10px solid #237dc8;
		height: 50%;
		width: 900px;
		margin: 20px auto;
		padding: 10px;
		position: relative;
		top: -100px;
		font-weight: 100;
		font-size: 18px;
		line-height: 25px;
	}

		.splash-image-wrapper .promotion-wrapper .promotion-container {
			background-color: #237dc8;
			color: white;
			padding: 10px;
			background: #237dc8 url("../img/index-main-blue-background.jpg") center center no-repeat;
		}

			.splash-image-wrapper .promotion-wrapper .promotion-container .lightbulb {
				border-right: 1px dashed white;
				text-align: center;
				vertical-align: middle;
			}

				.splash-image-wrapper .promotion-wrapper .promotion-container .lightbulb i {
					font-size: 100px;
				}

			.splash-image-wrapper .promotion-wrapper .promotion-container .promotion-text {
				padding: 15px 0 0 0px;
			}

			.splash-image-wrapper .promotion-wrapper .promotion-container a {
				padding: 20px 0 20px 0px;
				font-size: 20px;
				display: block;
				min-width: unset;
				width: 70%;
				margin: 20px auto;
				height: 10%;
			}

.we-offer-container {
	background: white;
	padding: 20px;
	display: flex;
	vertical-align: middle;
	border: 1px solid #e6e6e6;
	margin-bottom: 20px;
	height:212px;
}

	.we-offer-container:hover {
		border-color: #237dc8;
	}

	.we-offer-container.big div {
		width: 65%;
		float: right;
		text-align: right;
	}

	.we-offer-container img {
		display: block;
		vertical-align: middle;
		float: left;
		margin: auto;
	}

	.we-offer-container.small {
		display: block;
		height: 255px;
	}

		.we-offer-container.small img {
			display: block;
			margin: 20px 43%;
		}

		.we-offer-container.small div {
			width: 100%;
			text-align: center;
		}

	.we-offer-container a {
		transform: scale(.85);
		position: absolute;
		right: 30px;
		bottom:3px;
	}

		.we-offer-container a:hover {
			background-color: white !important;
		}



/*Index End*/
