@media (max-width: 1666px) {
	.splash-image-wrapper img#main-image-hand {
		left: -2%;
		bottom: 0%;
		z-index: 20;
	}
}

@media (max-width: 1400px) {
	.splash-image-wrapper img#main-image-hand {
		left: -7%;
		bottom: 10%;
		z-index: 20;
	}
}

@media (max-width: 1300px) {
	.splash-image-wrapper img#main-image-hand {
		left: -5%;
		bottom: 20%;
		z-index: 20;
		width: 350px;
	}
}

@media (max-width: 1140px) {
	.splash-image-wrapper img#main-image-hand {
		left: -8%;
		bottom: 33%;
		z-index: 20;
		width: 300px;
	}

	ul.leaders li:after {
		float: left;
		width: 0;
		white-space: nowrap;
		content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . ";
	}
}

@media (max-width: 992px) {
	.splash-image-wrapper img#main-image-hand {
		display: none;
	}

	/*Index*/
	.splash-image-wrapper .promotion-wrapper {
		width: 80%;
	}

		.splash-image-wrapper .promotion-wrapper .promotion-container {
			padding: 30px;
			background-image: none;
			text-align: center;
		}

			.splash-image-wrapper .promotion-wrapper .promotion-container .lightbulb {
				border: none;
			}

	.we-offer-container.big {
		height: auto;
	}

	.we-offer-container.small {
		display: block;
		height: auto;
	}

		.we-offer-container.small img {
			display: block;
			margin: 20px 46%;
		}

		.we-offer-container.small div {
			width: 100%;
			text-align: center;
		}

	.we-offer-container a {
		transform: scale(.85);
		position: absolute;
		right: 30px;
		bottom: -15px;
	}

	/* Napravi */

	.make-item {
		margin-bottom: 20px;
	}

	.make-item-content {
		padding: 5px 0 0 20px;
	}

		.make-item-content h3 {
			text-transform: uppercase;
			color: white;
			font-size: 1.0em;
		}

		.make-item-content p {
			width: 80%;
		}

		.make-item-content a {
			position: absolute;
			bottom: 20px;
			left: 10px;
			transform: scale(.85);
		}

	/* Napravi end */

	/*Services*/
	.service-wrapper {
		height:210px;
		margin-bottom:20px;
		overflow-y:scroll;
	}

		.service-wrapper img {
			float: left;
			margin-right: 10px;
		}

		.service-wrapper .service-wrapper-text {
			float:left;
			width:45%;
		}
	/*Services end*/
}

@media (max-width: 576px) {

	#main-image {
		display: none;
	}

	.splash-image-wrapper .promotion-wrapper {
		font-size: 14px;
		padding: 5px;
		border-width: 5px;
		position: relative;
		top: 0px;
		margin: 30px auto 50px auto;
	}

	ul.leaders li:after {
		float: left;
		width: 0;
		white-space: nowrap;
		content: "";
	}

	ul.leaders span + span {
		top: 10px;
	}

	ul.leaders li {
		margin-top: 70px;
	}

	/*Services*/
	.service-wrapper {
		height: 100%;
		margin-bottom: 20px;
		overflow: hidden;
	}

		.service-wrapper img {
			width:100%;
		}

		.service-wrapper .service-wrapper-text {
			float: left;
			width: 100%;
		}

	.services-page .billboard-image-container .billboard-label {
		position: static;
		width:100%;
	}
	/*Services end*/
}
