<?xml version="1.0"?>
<connectionStrings>
  <add
  name="garderobConnection"
  connectionString="Data Source=91.215.216.112\MSSQL2012,2012;Initial Catalog=tvoiatg_db;Integrated Security=False;User ID=tvoiatg_admin;Password=p@ssw0rd123$;Connect Timeout=15;Encrypt=False;Packet Size=4096;MultipleActiveResultSets=true"
  providerName="System.Data.SqlClient"/>
</connectionStrings>
