<?xml version="1.0" ?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="adminEmail" value="admin@admin.com" />
  <add key="adminFirstName" value="Светослав" />
  <add key="adminLastname" value="Балабушков" />
  <add key="adminPassword" value="1234567" />
  <add key="adminPhone" value="+359887772550" />
  <add key="emailSender" value="chaosrunner1@gmail.com"/>
  <add key="emailReceiver" value="dobromirivanov1@gmail.com"/>
</appSettings>