<?xml version="1.0" ?>
<appSettings configSource="Config\Credentials.config">
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="FeaturedCustomPageId" value="1" />
  <add key="emailSender" value="system@dabravata.com"/>
  <add key="emailReceiver" value="manager@dabravata.com"/>
</appSettings>