@using App.Models;
@model ICollection<ApplicationUser>

@{
	ViewBag.Title = "Клиенти";
}

<div class="row">
	<div class="col-md-12">
		<h3>@ViewBag.Title</h3>
		<table class="table table-striped table-hover ">
			<thead>
				<tr>
					<th>Име</th>
					<th>Email</th>
					<th class="centered"><i class="fa fa-cogs"></i></th>
				</tr>
			</thead>
			<tbody>
				@Html.Partial("Partials/_Clients", Model)
			</tbody>
		</table>
	</div>
</div>