@using System.Collections.Generic;
@using App.Models.Materials;
@model CalculatorViewModel
@{
    ViewBag.Title = "Calculator";
}

<!-- breadcrumbs start-->
<section class="breadcrumbs">
	<div class="container">
		<div class="text-center breadcrumbs-item">
			<h1>Калкулатор</h1><a href="#">начало</a><i class="fa fa-angle-right"></i><a href="#">Калкулатор</a>
		</div>
	</div>
</section>
<!-- ! breadcrumbs end-->
<!-- content-->
<div class="container mt-40">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="title-section mb-0 mt-0 text-center">Калкулатор</h2>
			<div class="cws_divider with-plus short-3 center mb-20 mt-10"></div>
			<p class="text-center mb-0" style="font-size:12px;">С нашия калкулатор, Вие може да пресметнете приблизително колко може да ви струва Вашия гардероб. Различните материали имат различни цени и за това за Ваше улеснение, тук може в реално време да видите цената на вашия проект и така да го съобразите с вашия бюджет. Цената която показва калкулатора може да не съвпадне с крайната цена на проекта ако вписването не бъде пределно точно и има разминаване от реалния Ви проект.</p>
		</div>
	</div>
</div>
<div class="container calculator-container">
	<style>
		input[type="checkbox"]:checked:before {
			position: relative;
			top: -6px;
		}
	</style>
	<div class="row">
		<div class="col-md-12">
			<a href="" class="cws-button with-icon alt calculator-head-button">Калкулатор<i class="fa fa-calculator calculator-icon"></i></a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3>Материали</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="order-category">
				Плоча за основа: <span class="js-calculator-error" data-error-index="1"></span><br />
				@foreach (var material in Model.SurfaceMaterials)
				{
					Dictionary<string, string> data = new Dictionary<string, string>();
					data.Add("price", material.Price.ToString());
					
					@Html.ByteImage(material.Image.Small, material.Name, "js-base-surface-material", material.Id.ToString(), string.Format("{0} | Цена: {1} лв", material.Name, material.Price), data)
				}
			</div>
		</div>
		<div class="col-md-6">
			<div class="order-category">
				Плоча за врати: <span class="js-calculator-error" data-error-index="2"></span><br />
				@foreach (var material in Model.SurfaceMaterials)
				{
					Dictionary<string, string> data = new Dictionary<string, string>();
					data.Add("price", material.Price.ToString());

					@Html.ByteImage(material.Image.Small, material.Name, "js-door-surface-material", material.Id.ToString(), string.Format("{0} | Цена: {1} лв", material.Name, material.Price), data)
				}</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="order-category">
				Фазер: <span class="js-calculator-error" data-error-index="3"></span><br />
				@foreach (var material in Model.SurfaceMaterials)
				{
					Dictionary<string, string> data = new Dictionary<string, string>();
					data.Add("price", material.Price.ToString());

					@Html.ByteImage(material.Image.Small, material.Name, "js-fazer-surface-material", material.Id.ToString(), string.Format("{0} | Цена: {1} лв", material.Name, material.Price), data)
				}</div>
		</div>
		<div class="col-md-6">
			<div class="order-category">
				Дръжки: <span class="js-calculator-error" data-error-index="4"></span><br />
				@foreach (var material in Model.HandleMaterials)
				{
					Dictionary<string, string> data = new Dictionary<string, string>();
					data.Add("price", material.Price.ToString());

					@Html.ByteImage(material.Image.Small, material.Name, "js-handle-material", "material" + material.Id.ToString(), string.Format("{0} | Цена: {1} лв", material.Name, material.Price), data)
				}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3>Външен размер, елементи и цокъл</h3>
		</div>
	</div>
	<div class="row mt-20">
		<div class="col-md-4">
			<div class="calculator-slider">
				<div class="col-md-8">
					<span>Височина:</span>
					<div class="slider-range-min" data-min="40" data-max="200" data-default="60"></div>
				</div>
				<div class="col-md-4">
					<input type="text" class="amount js-outer-size-height" readonly>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="calculator-slider">
				<div class="col-md-8">
					<span>Ширина:</span>
					<div class="slider-range-min" data-min="40" data-max="200" data-default="60"></div>
				</div>
				<div class="col-md-4">
					<input type="text" class="amount js-outer-size-width" readonly>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="calculator-slider">
				<div class="col-md-8">
					<span>Дълбочина :</span>
					<div class="slider-range-min" data-min="40" data-max="200" data-default="60"></div>
				</div>
				<div class="col-md-4">
					<input type="text" class="amount js-outer-size-depth" readonly>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-40">
		<div class="col-md-4">
			<div class="col-md-8">
				<span>Брой елементи:</span>
			</div>
			<div class="col-md-4">
				<div class="selection-box mb-30">
					<select class="js-outer-size-count">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="col-md-8">
				<span>Цокъл (10 cm):</span>
			</div>
			<div class="col-md-4">
				<div class="selection-box mb-30">
					<select class="js-outer-size-cokal">
						<option>Да</option>
						<option>Не</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<!--- empty --->
		</div>
	</div>
	<div class="cws_divider with-plus long"></div>
	<section class="calculator-section">
		<div class="row">
			<div class="col-md-12">
				<h3>
					<select class="js-door-type">
						<option value="1">Стандартни</option>
						<option value="2">Плъзгащи се</option>
					</select>
					Врати <i class="fa fa-plus-circle js-row-multiplier"></i>
				</h3>
			</div>
		</div>
		<div class="row mt-10 js-calculator-row js-doors-row">
			<div class="col-md-4 js-doors-col">
				<div class="calculator-slider">
					<div class="col-md-8">
						<span>Височина:</span>
						<div class="slider-range-min" data-min="40" data-max="200" data-default="60"></div>
					</div>
					<div class="col-md-4">
						<input type="text" class="amount js-height" readonly>
					</div>
				</div>
			</div>
			<div class="col-md-4 js-doors-col">
				<div class="calculator-slider">
					<div class="col-md-8">
						<span>Ширина:</span>
						<div class="slider-range-min" data-min="40" data-max="200" data-default="60"></div>
					</div>
					<div class="col-md-4">
						<input type="text" class="amount js-width" readonly>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="col-md-8">
					<span>Брой:</span>
				</div>
				<div class="col-md-4">
					<div class="selection-box mb-30">
						<select class="js-count">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-md-1" style="text-align:right;">
				<button class="js-remove-row" title="Изтрии реда"><i class="fa fa-remove"></i></button>
			</div>
		</div>
		<div class="cws_divider with-plus long"></div>
	</section>
	<section class="calculator-section">
		<div class="row">
			<div class="col-md-12">
				<h3><input type="checkbox" class="js-section-toggle js-dividers-toggle" style="margin:-5px 5px 0 0px;" />Фиксирани вътрешни деления: <i class="fa fa-plus-circle js-row-multiplier"></i></h3>
			</div>
		</div>
		<div class="row mt-10 js-calculator-row js-inner-dividers-row js-section-row">
			<div class="col-md-4">
				<div class="calculator-slider">
					<div class="col-md-8">
						<span>Дължина:</span>
						<div class="slider-range-min" data-min="40" data-max="200" data-default="60"></div>
					</div>
					<div class="col-md-4">
						<input type="text" class="amount js-length" readonly>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="col-md-8">
					<span>Брой :</span>
				</div>
				<div class="col-md-4">
					<div class="selection-box mb-30">
						<select class="js-count">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-md-1 col-md-offset-3" style="text-align:right;">
				<button class="js-remove-row" title="Изтрии реда"><i class="fa fa-remove"></i></button>
			</div>
		</div>
		<div class="cws_divider with-plus long"></div>
	</section>
	<section class="calculator-section">
		<!-- ROW -->
		<div class="row">
			<div class="col-md-12">
				<h3><input type="checkbox" class="js-section-toggle js-shelfs-toggle" style="margin:-5px 5px 0 0px;" />Рафтове: <i class="fa fa-plus-circle js-row-multiplier"></i></h3>
			</div>
		</div>
		<div class="row mt-10 js-calculator-row js-shelf-row js-section-row">
			<div class="col-md-4">
				<div class="calculator-slider">
					<div class="col-md-8">
						<span>Дължина:</span>
						<div class="slider-range-min" data-min="40" data-max="200" data-default="60"></div>
					</div>
					<div class="col-md-4">
						<input type="text" class="amount js-length" readonly>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="col-md-8">
					<span>Брой :</span>
				</div>
				<div class="col-md-4">
					<div class="selection-box mb-30">
						<select class="js-count">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-md-1 col-md-offset-3" style="text-align:right;">
				<button class="js-remove-row" title="Изтрии реда"><i class="fa fa-remove"></i></button>
			</div>
		</div>
		<div class="cws_divider with-plus long"></div>
		<!-- ROW end -->
	</section>
	<section class="calculator-section">
		<!-- ROW -->
		<div class="row">
			<div class="col-md-12">
				<h3><input type="checkbox" class="js-section-toggle js-drawers-toggle" style="margin:-5px 5px 0 0px;" />Чекмедже: <i class="fa fa-plus-circle js-row-multiplier"></i></h3>
			</div>
		</div>
		<div class="row mt-10 js-calculator-row js-drawer-row js-section-row">
			<div class="col-md-4">
				<div class="calculator-slider">
					<div class="col-md-8">
						<span>Височина:</span>
						<div class="slider-range-min" data-min="40" data-max="200" data-default="60"></div>
					</div>
					<div class="col-md-4">
						<input type="text" class="amount js-height" readonly>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="calculator-slider">
					<div class="col-md-8">
						<span>Ширина:</span>
						<div class="slider-range-min" data-min="40" data-max="200" data-default="60"></div>
					</div>
					<div class="col-md-4">
						<input type="text" class="amount js-width" readonly>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="col-md-8">
					<span>Брой :</span>
				</div>
				<div class="col-md-4">
					<div class="selection-box mb-30">
						<select class="js-count">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-md-1" style="text-align:right;">
				<button class="js-remove-row" title="Изтрии реда"><i class="fa fa-remove"></i></button>
			</div>
		</div>
		<div class="cws_divider with-plus long"></div>
		<!-- ROW end -->
	</section>
	<section class="calculator-section">
		<!-- ROW -->
		<div class="row">
			<div class="col-md-12">
				<h3><input type="checkbox" class="js-section-toggle js-hangers-toggle" style="margin:-5px 5px 0 0px;" />Закачалки: <i class="fa fa-plus-circle js-row-multiplier"></i></h3>
			</div>
		</div>
		<div class="row mt-10 js-calculator-row js-hanger-row js-section-row">
			<div class="col-md-4">
				<div class="col-md-7">
					<span>Вид закачалка :</span>
				</div>
				<div class="col-md-5">
					<div class="selection-box mb-30">
						<select class="js-hangerType">
							<option value="10">Стандартна</option>
							<option value="20">Еластична</option>
							<option value="30">Друг вид</option>
							<option value="40">Трети вид</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="col-md-8">
					<span>Брой :</span>
				</div>
				<div class="col-md-4">
					<div class="selection-box mb-30">
						<select class="js-hangerCount">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-md-1 col-md-offset-3" style="text-align:right;">
				<button class="js-remove-row" title="Изтрии реда"><i class="fa fa-remove"></i></button>
			</div>
		</div>
		<div class="cws_divider with-plus long"></div>
		<!-- ROW end -->
	</section>
	<section class="calculator-section">
		<!-- ROW -->
		<div class="row">
			<div class="col-md-12">
				<h3><input type="checkbox" class="js-section-toggle js-mirrors-toggle" style="margin:-5px 5px 0 0px;" />Огледала: <i class="fa fa-plus-circle js-row-multiplier"></i></h3>
			</div>
		</div>
		<div class="row mt-10 js-calculator-row js-mirror-row js-section-row">
			<div class="col-md-4">
				<div class="calculator-slider">
					<div class="col-md-8">
						<span>Височина:</span>
						<div class="slider-range-min" data-min="40" data-max="200" data-default="60"></div>
					</div>
					<div class="col-md-4">
						<input type="text" class="amount js-height" readonly>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="calculator-slider">
					<div class="col-md-8">
						<span>Ширина:</span>
						<div class="slider-range-min" data-min="40" data-max="200" data-default="60"></div>
					</div>
					<div class="col-md-4">
						<input type="text" class="amount js-width" readonly>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="col-md-8">
					<span>Брой :</span>
				</div>
				<div class="col-md-4">
					<div class="selection-box mb-30">
						<select class="js-count">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-md-1" style="text-align:right;">
				<button class="js-remove-row" title="Изтрии реда"><i class="fa fa-remove"></i></button>
			</div>
		</div>
		<!-- ROW end -->
	</section>

	<div class="row mb-30 mt-30">
		<div class="col-md-12 col-md-offset-8">
			<a class="cws-button alt js-calculate-btn" style="cursor:pointer;">Изчисли</a>
			<input type="text" class="js-result" style="text-align:center;" readonly value="0 лв"><br />
			<style>
				#installationCb:checked:before {
					position: relative;
					top: unset;
				}
			</style>
			<div class="checkbox calculator-installation-checkbox-container">
				<input id="installationCb" type="checkbox" value="None" name="check">
				<label for="installationCb">Монтаж</label>
				<input type="text" class="js-result-installation" style="text-align:center;" readonly value="0 лв"><br />
			</div>
		</div>
	</div>

</div>
<!-- ! content-->
<div style="clear:both;height:60px;">&nbsp;</div>

@section Scripts {
<script src="~/Content/js/calculator.js"></script>
}