html, body {
	font-family: Roboto, sans-serif;
}

h3 {
	text-transform: uppercase;
	color: #237dc8;
}

label {
	font-weight: normal;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #a9a9a9;
}

::-moz-placeholder { /* Firefox 19+ */
	color: #a9a9a9;
}

:-ms-input-placeholder { /* IE 10+ */
	color: #a9a9a9;
}

:-moz-placeholder { /* Firefox 18- */
	color: #a9a9a9;
}

/*Bootstrap modifications*/
.panel {
	border-radius: 0px;
}

.panel-heading {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
/*Bootstrap modifications end*/
/*Navigation*/
.inner-nav.desktop-nav ul li .mn-sub li > a {
	font-size: 13px;
}

.login-content span#login-status {
	margin: 0 auto;
	display: none;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-weight: normal;
	border-radius: 0;
	margin-top: 20px;
	margin-bottom: -20px;
}

.login-content a#login-button {
	cursor: pointer;
}

#profile-links-dropdown button.btn.btn-primary.dropdown-toggle {
	background-color: transparent;
	color: #237dc8;
	border: none;
	text-align: right;
	margin-right: 0px;
	padding-right: 0px;
}

	#profile-links-dropdown button.btn.btn-primary.dropdown-toggle:hover {
		color: #4b9fe5;
	}

	#profile-links-dropdown button.btn.btn-primary.dropdown-toggle:active {
		outline: none;
		box-shadow: none;
	}

#profile-links-dropdown ul.dropdown-menu {
	/*width: 100%;*/
	border-radius: 0px;
	padding: 0 0 0 0px;
}

	#profile-links-dropdown ul.dropdown-menu li:before {
		display: none;
	}

	#profile-links-dropdown ul.dropdown-menu li {
		padding-left: 0px;
	}
/*Navigation end*/
footer {
	background-image: url('../img/footer/footer-bg.jpg');
}

.breadcrumbs {
	background-image: url('../img/contact/bg-1.jpg');
}


/*INDEX START*/
.main-nav {
	border-bottom: 1px solid #237dc8;
}

	.main-nav.small-height {
		border-bottom: 1px solid #237dc8;
	}

.service-item i.fa {
	font-size: 50px;
	margin-bottom: 15px;
	color: #237dc8;
}

.service-item:hover i.fa {
	color: #404040;
}

.copyright {
	font-size: 13px;
}

.main-nav .inner-nav.desktop-nav li {
	font-size: 14px;
	margin: 0 0px 0 20px;
}

.inner-nav.desktop-nav.switch-menu {
	width: 70%;
}

.main-nav .nav-logo-wrap.local-scroll {
	position: relative;
	top: 10px;
}

.splash-image-wrapper {
	width: 100%;
	height: 100%;
	margin-bottom: -140px;
}

	.splash-image-wrapper img#main-image {
		/*border-top: 1px solid #237dc8;
		border-bottom: 1px solid #237dc8;*/
		margin-bottom: -26%;
	}

	.splash-image-wrapper .promotion-wrapper {
		border: 10px solid #237dc8;
		height: 50%;
		width: 750px;
		margin: 20px auto;
		padding: 10px;
		position: relative;
		top: -100px;
		font-weight: 100;
		font-size: 16px;
		line-height: 25px;
	}

		.splash-image-wrapper .promotion-wrapper .promotion-container {
			background-color: #237dc8;
			color: white;
			padding: 10px;
			background: #237dc8 url("../img/index-main-blue-background.jpg") center center no-repeat;
		}

			.splash-image-wrapper .promotion-wrapper .promotion-container .lightbulb {
				border-right: 1px dashed white;
				text-align: center;
				vertical-align: middle;
			}

				.splash-image-wrapper .promotion-wrapper .promotion-container .lightbulb i {
					font-size: 100px;
				}

			.splash-image-wrapper .promotion-wrapper .promotion-container .promotion-text {
				padding: 15px 0 0 0px;
			}

			.splash-image-wrapper .promotion-wrapper .promotion-container a {
				padding: 15px 0 15px 0px;
				font-size: 20px;
				display: block;
				min-width: unset;
				width: 85%;
				margin: 20px auto;
			}

.we-offer-container {
	background: white;
	padding: 20px;
	display: flex;
	vertical-align: middle;
	border: 1px solid #e6e6e6;
	margin-bottom: 40px;
	height: 212px;
}

	.we-offer-container:hover {
		border-color: #237dc8;
	}

	.we-offer-container.big div {
		width: 65%;
		float: right;
		text-align: right;
	}

	.we-offer-container img {
		display: block;
		vertical-align: middle;
		float: left;
		margin: auto;
	}

	.we-offer-container.small {
		display: block;
		height: 255px;
	}

		.we-offer-container.small img {
			display: block;
			margin: 20px 43%;
		}

		.we-offer-container.small div {
			width: 100%;
			text-align: center;
		}

	.we-offer-container a {
		transform: scale(.85);
		position: absolute;
		right: 30px;
		bottom: 23px;
	}

		.we-offer-container a:hover {
			background-color: white !important;
		}

/*Index End*/


/* Napravi */

.make-item {
	margin-bottom: 20px;
}

.make-item-content {
	position: absolute;
	top: 0px;
	padding: 30px 0 0 40px;
	color: white;
	height: 100%;
}

	.make-item-content h3 {
		text-transform: uppercase;
		color: white;
		font-size: 1.3em;
	}

	.make-item-content p {
		width: 60%;
	}

	.make-item-content a {
		position: absolute;
		bottom: 58px;
	}

.owl-single-item {
	border: 4px solid #237dc8;
}

.guide-row {
	margin-bottom: 30px;
}

ul.leaders {
	padding: 0;
	list-style: none;
}

ul.leaders {
	text-transform: uppercase;
}

	ul.leaders li {
		padding: 0px 0 0 25px;
		margin-top: 15px;
	}


ul.leaders {
	max-width: 80em;
	padding: 0;
	list-style: none;
	margin-top: 50px;
}

	ul.leaders li:after {
		float: left;
		width: 0;
		white-space: nowrap;
		content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . ";
	}

	ul.leaders span:first-child {
		padding-right: 0.33em;
		background: white;
	}

	ul.leaders span + span {
		float: right;
		padding-left: 0.33em;
		background: white;
		position: relative;
		top: -10px;
	}

/* Napravi end */

/*Contact*/

.dropzone-container {
	width: 100%;
	height: 100%;
	background-color: #237dc8;
	text-align: center;
}

	.dropzone-container img, .dropzone-container a {
		line-height: 20px;
	}

.contact-form .cws-button.white {
	border: 1px solid white;
	margin: 30px 0px 30px 20%;
}

	.contact-form .cws-button.white:hover {
		background-color: white;
		color: #237dc8;
	}

.order-category {
	margin: -5px 0 45px 0px;
}

	.order-category img {
		outline: 1px solid #237dc8;
		outline-offset: -1px;
		margin: 5px 2px 0 0px;
		cursor: pointer;
	}

		.order-category img:hover {
			outline: 3px solid #237dc8;
			outline-offset: -3px;
		}

		.order-category img.selected {
			outline: 3px solid #237dc8;
			outline-offset: -3px;
			opacity: 1 !important;
		}

		.order-category img.dimmed {
			opacity: 0.5;
		}

i.submit-loading {
	/*display:none;*/
}
/*Contact End*/
/*Price page */
.price-page table.table tbody tr td:first-child, .price-page table.table thead tr th:first-child {
	text-align: left;
}

.price-page table.table tbody tr td:last-child, .price-page table.table thead tr th:last-child {
	text-align: right;
}

.price-page table.table tbody tr td a {
	color: #237dc8;
}

	.price-page table.table tbody tr td a:hover {
		text-decoration: underline;
	}

/*Price page end*/



.services-page .billboard-image-container img {
	border: 4px solid #237dc8;
}

/*Services page*/

.services-page .billboard-image {
	border: 4px solid #237dc8;
}

.services-page .billboard-image-container .billboard-label {
	padding: 5px 20px 0 20px;
	width: 350px;
	height: 180px;
	background-color: #237dc8;
	color: white;
	text-transform: uppercase;
	text-align: center;
	position: absolute;
	right: 5px;
	bottom: -10px;
}

	.services-page .billboard-image-container .billboard-label h3 {
		color: white;
		border-bottom: 1px dashed white;
		text-align: center;
		padding: 0 0 15px 0px;
	}

.service-wrapper {
	background-color: #e5e5e5;
	padding: 5px;
	color: #4c4c4c;
	height: 500px;
	line-height: 22px;
}

.material-wrapper {
	height: 350px;
}

.service-wrapper:hover {
	background-color: #237dc8;
	padding: 5px;
	color: white;
	cursor: pointer;
}

	.service-wrapper:hover h3 {
		color: white;
	}

.service-wrapper img {
	border: 5px solid white;
}

.service-wrapper h3 {
	color: #4c4c4c;
	font-size: 18px;
}

.service-wrapper .service-wrapper-text {
	padding: 10px 15px 0 15px;
}

/*Services page end*/


/*Gallery page*/

.gallery-row {
	margin-top: 40px;
}

.pagination {
	margin-top: 60px;
	margin-bottom: -20px;
}

.gallery-row .gallery-row-image-wrapper img {
	border: 5px solid #237dc8;
}

.gallery-row .gallery-row-image-wrapper i {
	position: absolute;
	bottom: 55px;
	right: -15px;
	width: 30px;
	height: 50px;
	line-height: 50px;
	background-color: #237dc8;
	text-align: center;
	color: white;
	font-size: 26px;
}


.gallery-row .gallery-row-image-wrapper span {
	position: absolute;
	display: block;
	width: 80px;
	height: 30px;
	line-height: 30px;
	left: 20px;
	bottom: 0px;
	background-color: #237dc8;
	color: white;
	text-align: center;
}

/*Gallery page end*/

/*FAQ*/

.faq-row h3, .registration-row h3 {
	margin-top: 50px;
	margin-bottom: 30px;
}

.faq-row .terms-container p, .registration-row .terms-container p {
	margin-top: 10px;
	margin-bottom: 40px;
	font-size: 12px;
	line-height: 16px;
	text-align: justify;
}

/*FAQ end*/


/*Registration*/

.contact-form .checkbox {
	margin: -10px auto 30px auto;
	display: block;
	width: 350px;
}

	.contact-form .checkbox input {
		padding: 0 2px 0 0px;
		width: 22px;
		height: 22px;
		margin: 20px 0 0 -10px;
	}

#registration-form.contact-form input:not(.cws-button),
#registration-form.contact-form textarea {
	margin-bottom: 0px;
}

.checkbox .text-danger.field-validation-error {
	margin-left: 20px;
}

.validation-summary-errors.text-danger ul li:before {
	display: none;
}

/*Registration end*/
/*Calculator*/
.calculator-container, .warehouse-container {
	margin-top: 50px;
	background-color: #f6f6f6;
	border: 1px solid #237dc8;
}

	.calculator-container a, .warehouse-container a {
		transition: none;
	}

	.calculator-container .calculator-head-button, .warehouse-container .calculator-head-button {
		display: block;
		width: 20%;
		margin: -22px auto 0 auto;
	}

	.calculator-container .cws-button.with-icon.alt:hover, .warehouse-container .cws-button.with-icon.alt:hover {
		background-color: white;
	}

	.calculator-container .calculator-icon, .warehouse-container .calculator-icon {
		font-size: 23px;
		padding-left: 3px;
	}


.calculator-slider input.amount {
	width: 100%;
	height: 40px;
	text-align: center;
	line-height: 40px;
}


.slider-range-min {
	margin-top: 10px;
}

	.slider-range-min.ui-widget.ui-widget-content {
		background-color: #cdcdcd;
		height: 4px;
		border-radius: 0;
		border: 0px;
		position: relative;
		text-align: left;
	}

	.slider-range-min .ui-slider-range {
		position: absolute;
		z-index: 1;
		display: block;
		font-size: .7em;
		top: 0;
		left: 0;
		height: 100%;
		background-position: 0 0;
	}

	.slider-range-min .ui-slider-handle {
		position: absolute;
		z-index: 2;
		border-radius: 0;
		width: 14px;
		height: 14px;
		border: 0px;
		background-color: #237dc8;
		margin-top: 0px;
		margin-left: 0px;
		top: -.3em;
	}

	.slider-range-min .ui-slider-range {
		background-color: #237dc8;
		border: 0px;
	}

.calculator-container .selection-box select {
	background-color: white;
}

/*Calculator end*/


/*Order now*/
.warehouse-container {
	padding-left: 40px;
	padding-bottom: 40px;
}

	.warehouse-container .count-label {
		position: absolute;
		left: -40px;
		bottom: 45px;
	}

	.warehouse-container .order-container {
		background-color: #237dc8;
		color: white;
		padding: 10px 20px 10px 20px;
		position: absolute;
		left: -50px;
		width: 100%;
	}

		.warehouse-container .order-container table {
			width: 100%;
		}


			.warehouse-container .order-container table tr td:last-child {
				text-align: right;
			}

		.warehouse-container .order-container h3 {
			color: white;
			margin: 20px auto;
			width: 100%;
			text-align: center;
		}

		.warehouse-container .order-container table thead {
			border-bottom: 1px dashed white;
		}

		.warehouse-container .order-container table td {
			padding: 5px;
		}

		.warehouse-container .order-container table .total-price-row {
			font-weight: bold;
			font-size: 20px;
			text-transform: uppercase;
		}

		.warehouse-container .order-container table .cws-button.white {
			margin-bottom: 10px;
			margin-top: 20px;
		}

	.warehouse-container img.warehouse-image {
		width: 210px;
		height: 203px;
	}

	.warehouse-container .order-container.sticky-cart {
		position: fixed;
		width: 400px;
		top: 100px;
		z-index: 9999;
	}

	.warehouse-container .add-testimonial-btn {
		background-color: #3fb618;
		border-color: #3fb618;
		color: white;
	}

		.warehouse-container .add-testimonial-btn:hover {
			color: #3fb618;
		}

	.warehouse-container .reorder-btn {
	}

.order-container .basket-full-view {
	display: none;
}

.order-container .basket-empty-view {
	display: none;
	text-align: center;
}

	.order-container .basket-empty-view i {
		font-size: 50px;
		margin: 10px 0 20px 0px;
	}

.order-container .basket-success-view, .order-container .basket-fail-view, .order-container .basket-loading-view {
	display: none;
	text-align: center;
}

	.order-container .basket-success-view i, .order-container .basket-fail-view i, .order-container .basket-loading-view i {
		font-size: 80px;
		margin: 10px 0 0px 0px;
	}

.warehouse-container .add-cart-success, .warehouse-container .add-cart-fail {
	display: none;
	width: 160px;
	height: 58px;
	text-align: center;
}

.warehouse-container .add-cart-loading {
	display: none;
	width: 160px;
	line-height: 58px;
	height: 58px;
	color: white;
	background-color: #237dc8;
	text-align: center;
}
/*Order now end*/
/*Live preview*/
.live-preview-container {
	margin-top: 30px;
	min-height: 600px;
}

	.live-preview-container .preview-image {
		position: absolute;
	}

	.live-preview-container #back-material-image, .live-preview-container #front-material-image {
		display: none;
	}

	.live-preview-container .preview-image {
		border: 4px solid #237dc8;
	}

	.live-preview-container .order-category {
		text-align: center;
	}

	.live-preview-container .order-category {
		margin-left: 30px;
		margin-right: -30px;
	}

.materials-container .download-pdf-button {
	display: block;
	margin-top: 30px;
	margin-bottom: 20px;
	width: 100%;
	position: static;
}

.materials-container .service-wrapper:hover .download-pdf-button {
	border: 1px solid white;
	color: white;
	background-color: transparent;
}

.materials-container .download-pdf-button:hover {
	border: 1px solid white;
	color: white;
	background-color: transparent;
}
/*Live preview end*/


/*Products*/
.products-container .reorder-link {
	font-size: 18px;
	color: white;
	border: 1px solid white;
	padding: 10px;
	margin-left: 5px;
}
/*Products end*/


/*Loaders*/

.cs-loader {
	display: none;
	position: relative;
	top: 0;
	left: 100px;
	height: 100%;
	width: 100%;
	margin: -20px 0 30px 0px;
}

.cs-loader-inner {
	transform: translateY(-50%);
	position: absolute;
	width: calc(100% - 200px);
	color: #237dc8;
	/*color: black;*/
	padding: 0 0px;
	text-align: center;
}

	.cs-loader-inner label {
		font-size: 20px;
		opacity: 0;
		display: inline-block;
	}

@keyframes lol {
	0% {
		opacity: 0;
		transform: translateX(-300px);
	}

	33% {
		opacity: 1;
		transform: translateX(0px);
	}

	66% {
		opacity: 1;
		transform: translateX(0px);
	}

	100% {
		opacity: 0;
		transform: translateX(300px);
	}
}

@-webkit-keyframes lol {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-300px);
	}

	33% {
		opacity: 1;
		-webkit-transform: translateX(0px);
	}

	66% {
		opacity: 1;
		-webkit-transform: translateX(0px);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(300px);
	}
}

.cs-loader-inner label:nth-child(6) {
	-webkit-animation: lol 3s infinite ease-in-out;
	animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
	-webkit-animation: lol 3s 100ms infinite ease-in-out;
	animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
	-webkit-animation: lol 3s 200ms infinite ease-in-out;
	animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
	-webkit-animation: lol 3s 300ms infinite ease-in-out;
	animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
	-webkit-animation: lol 3s 400ms infinite ease-in-out;
	animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
	-webkit-animation: lol 3s 500ms infinite ease-in-out;
	animation: lol 3s 500ms infinite ease-in-out;
}
/*Loaders END*/

/*Profile*/
.profile-container input {
	width: 100%;
}

.profile-container .profile-picture {
	width: 150px;
	height: 150px;
	border: 1px solid #237dc8;
}

.profile-container .change-password-link {
	font-size: 14px;
	color: #666666;
	float: right;
}

	.profile-container .change-password-link:hover {
		color: #237dc8;
		text-decoration: underline;
	}


.profile-container input#profile-image-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.profile-container label#profile-image-input-label {
	font-size: 14px;
	color: white;
	background-color: #237dc8;
	display: inline-block;
	text-transform: uppercase;
	cursor: pointer;
	padding: 5px;
	width: 150px;
	border: 1px solid #237dc8;
	text-align: center;
	line-height: 25px;
	margin-top: 0px;
	border-top: 0px;
	position: relative;
	z-index: 2;
}

	.profile-container label#profile-image-input-label:hover, .profile-container label#profile-image-input-label:focus {
		background-color: white;
		color: #237dc8;
	}

.profile-container .profile-image-loading,
.profile-container .profile-image-success,
.profile-container .profile-image-fail {
	display: none;
	position: absolute;
	top: 1px;
	right: 16px;
	width: 148px;
	height: 148px;
	line-height: 148px;
	text-align: center;
	background-color: white;
}

.profile-container .profile-image-loading {
	color: #237dc8;
}

.profile-container .profile-image-success {
	color: #3c763d;
	background-color: #dff0d8;
}

.profile-container .profile-image-fail {
	color: red;
	background-color: #ffa9a9;
}

	.profile-container .profile-image-fail p, .profile-container .profile-image-success p, .profile-container .profile-image-loading p {
		position: absolute;
		top: 25px;
		margin: 0 auto;
		width: 100%;
	}

/*Profile end*/

/*Orders form*/
input[type=file]#sketches-input {
	display: none;
}

label.custom-sketches-input {
	color: white;
	background-color: #237dc8;
	cursor: pointer;
	width: 100%;
	height: 80px;
	line-height: 80px;
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
}

	label.custom-sketches-input i {
		font-size: 40px;
		padding-right: 40px;
		position: relative;
		top: 7px;
	}

.concealed {
	visibility: hidden;
	width: 1% !important;
	height: 1% !important;
	line-height: 0px !important;
	position: absolute;
	top: -99999px;
}

.sketches-names-list li:before {
	display: none;
}

.sketches-names-list {
	padding: 0px;
	margin: 0px;
}

	.sketches-names-list li {
		margin: 0px;
		padding: 0px;
	}

.sketches-preview-box {
	border: 1px solid #237dc8;
	padding: 15px;
	margin-top: -15px;
	display: none;
}

	.sketches-preview-box h3 {
		margin-top: 0px;
	}
/*Orders form end*/

/**/

/*Testimonials*/
.contact-form textarea.fe-textarea {
	min-height: 200px;
	padding: 10px 0 0 10px;
}

.testimonial-client-photo {
	width: 60px;
	height: 60px;
}
/*Testimonials END*/
