@media (max-width: 1666px) {
	.splash-image-wrapper img#main-image-hand {
		left: -2%;
		bottom: 0%;
		z-index: 20;
	}
}

@media (max-width: 1400px) {
	.splash-image-wrapper img#main-image-hand {
		left: -7%;
		bottom: 10%;
		z-index: 20;
	}
}

@media (max-width: 1300px) {
	.splash-image-wrapper img#main-image-hand {
		left: -5%;
		bottom: 20%;
		z-index: 20;
		width: 350px;
	}
}

@media (max-width: 1199px) {
	.gallery-row .gallery-row-image-wrapper i {
		bottom: 40px;
	}
}

@media (max-width: 1140px) {
	.splash-image-wrapper img#main-image-hand {
		left: -8%;
		bottom: 33%;
		z-index: 20;
		width: 300px;
	}

	ul.leaders li:after {
		float: left;
		width: 0;
		white-space: nowrap;
		content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . ";
	}
}

@media (max-width: 992px) {
	.headline {
		display: none;
	}

	.splash-image-wrapper img#main-image-hand {
		display: none;
	}

	/*Index*/
	.splash-image-wrapper .promotion-wrapper {
		width: 80%;
	}

		.splash-image-wrapper .promotion-wrapper .promotion-container {
			padding: 30px;
			background-image: none;
			text-align: center;
		}

			.splash-image-wrapper .promotion-wrapper .promotion-container .lightbulb {
				border: none;
			}

	.we-offer-container.big {
		height: auto;
	}

	.we-offer-container.small {
		display: block;
		height: auto;
	}

		.we-offer-container.small img {
			display: block;
			margin: 20px 46%;
		}

		.we-offer-container.small div {
			width: 100%;
			text-align: center;
		}

	.we-offer-container a {
		transform: scale(.85);
		position: absolute;
		right: 30px;
		bottom: -15px;
	}

	/* Napravi */

	.make-item {
		margin-bottom: 20px;
	}

	.make-item-content {
		padding: 5px 0 0 20px;
	}

		.make-item-content h3 {
			text-transform: uppercase;
			color: white;
			font-size: 1.0em;
		}

		.make-item-content p {
			width: 80%;
		}

		.make-item-content a {
			position: absolute;
			bottom: 20px;
			left: 10px;
			transform: scale(.85);
		}

	/* Napravi end */

	/*Services*/
	.service-wrapper {
		height: 210px;
		margin-bottom: 20px;
		overflow-y: scroll;
	}

		.service-wrapper img {
			float: left;
			margin-right: 10px;
		}

		.service-wrapper .service-wrapper-text {
			float: left;
			width: 45%;
		}
	/*Services end*/


	/*Gallery */

	.gallery-row .testimonial {
		margin-top: 40px;
	}

	.gallery-row .gallery-row-image-wrapper img {
		margin-bottom: -20px;
		width: 100%;
	}

	.gallery-row .gallery-row-image-wrapper i {
		position: relative;
		bottom: -10px;
		right: unset;
		margin: 0 auto;
		display: block;
		transform: rotate(90deg);
	}


	.gallery-row .gallery-row-image-wrapper span {
		top: 0px;
		bottom: unset;
	}
	/*Gallery end*/

	/*Order now*/
	.warehouse-container {
		min-height: 600px;
		padding-left: 10px;
		padding-bottom: 15px;
	}

		.warehouse-container a.order-now-add-button {
			position: relative;
			left: -30px;
			min-width: 90px;
		}

		.warehouse-container .order-container {
			background-color: #237dc8;
			color: white;
			padding: 10px 20px 10px 20px;
			position: relative;
			left: 0px;
			width: 100%;
		}

		.warehouse-container .count-label {
			position: static;
			left: 0px;
			bottom: 0px;
		}
	/*Order now end*/

	/*Live preview*/
	.live-preview-container {
		min-height: 700px;
	}

		.live-preview-container .preview-image {
			position: absolute;
			width: 95%;
		}

		.live-preview-container #back-material-image, .live-preview-container #front-material-image {
			display: none;
		}

		.live-preview-container .preview-image {
			border: 4px solid #237dc8;
		}

		.live-preview-container .order-category {
			text-align: center;
			position:absolute;
			top:530px;
		}

		.live-preview-container .order-category {
			margin-left: 0px;
			margin-right: 0px;
		}
	/*Live preview end*/
}

@media (max-width: 750px){
	.live-preview-container .order-category {
		top: 70vw;
	}
}

@media (max-width: 576px) {

	#main-image {
		display: none;
	}

	.splash-image-wrapper .promotion-wrapper {
		font-size: 14px;
		padding: 5px;
		border-width: 5px;
		position: relative;
		top: 0px;
		margin: 30px auto 50px auto;
	}

	ul.leaders li:after {
		float: left;
		width: 0;
		white-space: nowrap;
		content: "";
	}

	ul.leaders span + span {
		top: 10px;
	}

	ul.leaders li {
		margin-top: 70px;
	}

	/*Services*/
	.service-wrapper {
		height: 100%;
		margin-bottom: 20px;
		overflow: hidden;
	}

		.service-wrapper img {
			width: 100%;
		}

		.service-wrapper .service-wrapper-text {
			float: left;
			width: 100%;
		}

	.services-page .billboard-image-container .billboard-label {
		position: static;
		width: 100%;
	}
	/*Services end*/

	.warehouse-container a.order-now-add-button {
		position: static;
		float: right;
		min-width: 20px;
	}
}