@{
	ViewBag.Title = "Успешно изпращане на Атестат!";
}

<div class="container mt-40 pb-40">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">Успешно изпращане!</h3>
				</div>
				<div class="panel-body">
					<p><strong>Вашия атестат</strong> беше изпратен успешно!</p>
					<p>
						Благодарим Ви за отделеното време. Вашето мнение е важно за нас!
					</p>
					<a href="@Url.Action("Orders", "Warehouse")" class="cws-button gray alt pull-right">Към склада</a>
				</div>
			</div>
		</div>
	</div>
</div>