@using Microsoft.AspNet.Identity

<div class="col-sm-4 text-right">
	<div class="top-right-wrap">
		@if (Request.IsAuthenticated)
		{
			using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
			{
				@Html.AntiForgeryToken()
				<div id="profile-links-dropdown" class="dropdown">
					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
						@User.Identity.GetUserName()
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="/manage/profile"><i class="fa fa-user"></i> Профил</a></li>
						<li><a href="@Url.Action("Index", "Warehouse")"><i class="fa fa-home"></i> Склад</a></li>
						<li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-remove"></i> Излез</a></li>
					</ul>
				</div>
			}
		}
		else
		{
			<div class="top-login"><i class="fa fa-user"></i>Вход</div><span>|</span>
			<div><i class="fa fa-sign-in"></i><a href="/account/register">Регистрация</a></div>
		}
	</div>
</div>