@model IEnumerable<App.Models.ViewModels.PageViewModel>

@foreach (var Page in Model)
{
    <tr>
        <td><a href="@Url.Action("Edit", new { @id = Page.Id })">@Page.Title</a></td>
        <td>
            <a class="confirm-link" href="@Url.Action("Delete", new { @id = Page.Id })"><i class="fa fa-trash-o"></i></a>
        </td>
    </tr>
}