@using App.Models.Orders;
@model OrderViewModelSimple

<tr>
	<td>@Model.Id</td>
	<td>@Model.Title</td>
	<td>@Model.ClientFullName</td>
	<td class="text-center"><i class="fa fa-picture-o"></i></td>
	<td class="text-center">
		<a href="@Url.Action("Delete")"><i class="fa fa-trash-o"></i></a>
	</td>
</tr>
