@using App.Models.InputModels;
@model EditMaterialCategoryInputModel
@{
	ViewBag.Title = "Добавяне на Категория";
	ViewBag.FormModeText = "Добави";
	ViewBag.FormMode = "Create";
}

<div class="container">
	@{Html.RenderPartial("Partials/_CreateEditMaterialCategory", Model);}
</div>

@section Scripts {
	<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
	<script>

	</script>
}