@using App.Models.Materials;
@model EditMaterialCategoryInputModel
@{
	ViewBag.Title = "Редактиране на Категория";
	ViewBag.FormModeText = "Зарази";
	ViewBag.FormMode = "Edit";
}

<div class="container">
	@{Html.RenderPartial("Partials/_CreateEditMaterialCategory", Model);}
</div>


@section Scripts {
	<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
	<script>
	
		function deletePhotoBegin() {
			console.log("begin");
		}

		function deletePhotoFail() {
			console.log("fail");
		}

		function deletePhotoSuccess(response) {
			console.log("success");
		}
	</script>
}